body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background: url('https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
    background-size: cover;
}

.gradient-text {
    background: linear-gradient(to right, #34d399, #60a5fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}

#mobile-menu a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    transition: background-color 0.2s;
}

#mobile-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}